@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./form/Addresses.css";
@import "./map/Map.css";
@import "./toastrPanel/ToastrPanel.css";

body {
    font-family: 16px 'Roboto', sans-serif;
}

.container-app{
    display: flex;
    position: absolute;
    z-index: 20;
    margin: 32px;
}