@import "./form/Addresses.css";
@import "./map/Map.css";
@import "./toastrPanel/ToastrPanel.css";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container-app{
    display: flex;
    position: absolute;
    z-index: 20;
    margin: 32px;
}